/* MAJOR DIV ELEMENTS */
#topBarDiv{
    width: 100%;
    height: var(--top-bar-height);
    background-color: var(--top-bar-color);
    box-shadow: inset 2px 2px 10px 0px #060615; 
}
        
#workspaceDiv{
    width: 100%;
    height: calc(100% - var(--top-bar-height));
}

#toolsChoiceDiv{
    width: var(--tool-choice-width);
    height: 100%;
    background-color: var(--tool-choice-color);
    float: left;
    box-shadow: inset 2px 2px 10px 0px #060615; 
}

#toolsPanelDiv{
    width: var(--tool-panel-width);
    height: 100%;
    background-color: var(--tool-panel-color);
    float: left;
    box-shadow: inset 2px 2px 10px 0px #060615;
    overflow-y: scroll;
}

/* hidden but useable scrollbar in the Y direction */
#toolsPanelDiv::-webkit-scrollbar {
    width: 0px;  
    background: transparent;  
}

#mapDiv{
    width: calc(100% - var(--tool-panel-width) - var(--tool-choice-width));
    height: 100%;
    float: left;
}


/* BUTTONS */
.topBarButton{
    height: var(--top-bar-height);
    padding: 0 10px;
    background-color: transparent;
}

.topBarButton:hover{
    background-color: rgba(255, 255, 255, 0.04);
}

.topBarButton:active{
    background-color: rgba(0, 0, 0, 0.20);
}


.toolsChoiceButton{
    height: var(--tool-choice-button-height);
    width: var(--tool-choice-width);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center; /* centers the image in the element */
    background-size: calc(var(--tool-choice-width) - 8px) calc(var(--tool-choice-width) - 8px); /* sizes the image down */
    filter: invert(70%); /* inverts the color of the backgorund image from black to white-gray */
}

.toolsChoiceButton:hover{
    filter: invert(50%);
}

.toolsChoiceButton:active{
    filter: invert(30%);
}

/* CANVAS */
#mapCanvas{
    background-color: var(--canvas-color);
    cursor: pointer;
    box-shadow: inset 0px 0px 25px 10px #000009;
} 